/* Reset some default styles */
body, h1, h2, ul, p {
    margin: 0;
    padding: 0;
}

/* Apply a universal box-sizing rule */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f0f4f7; /* Soft blue background */
    color: #333; /* Dark grey text for readability */
}

#profile {
    text-align: center;
    padding: 20px;
    color: black; /* Text color for profile section */
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #005a9c;
    display: block;
    margin: 20px auto;
}

header {
    background-color: white;
    color: black;
    padding-bottom: 20px;
}

nav#navbar {
    background-color: black;
    color: white;
    padding: 10px 0;
}

nav#navbar ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav#navbar ul li {
    display: inline;
    margin: 0 10px;
}

nav#navbar ul li a {
    color: orangered;
    text-decoration: none;
    padding: 5px 10px;
}

nav#navbar ul li a:hover,
nav#navbar ul li a:focus {
    text-decoration: underline;
    color: cyan;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
}

section h2 {
    color: #005a9c; /* Dark blue for section titles */
    margin-bottom: 10px;
}

ul li {
    background-color: #e9ecef; /* Light grey for list items */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    list-style-type: circle; /* Adds a bullet point in front of the list item */
    margin-left: 20px; /* Indent list items */
}

footer {
    background-color: #333; /* Dark footer background */
    color: white;
    text-align: center;
    padding: 10px 0;
}

#social-media a {
    color: #007bff; /* Bootstrap primary blue for social media links */
    text-decoration: none;
    padding: 0 10px;
}

#social-media a:hover {
    text-decoration: underline;
}

/* Responsive Design: Adjusting for smaller screens */
@media screen and (max-width: 768px) {
    nav#navbar ul li {
        display: block;
        margin: 10px 0; /* Adds space between links when stacked */
    }

    nav#navbar ul li a {
        display: block;
    }
}
